/* nav > ul > li {
  display: inline;
  text-decoration: none;
} */


#hed {
  /* width: 900px; */
}

#firstnav {
  display: flex;
  /* padding-left: 100px; */
  justify-content: center;
}

.down {
  margin-left: 400px;
  padding top: 0px;
}